<h1>キャンペーン登録</h1>
<%= form_for @campaign, html: {class: 'form-horizontal'} do |f| %>

<%= render "shared/error_messages", :object => @campaign %>
<%= render partial: 'campaigns/form', locals: { f: f } %>

<%= f.submit '登録', class: 'btn btn-success btn-centered' %>
<%= link_to "中止", campaigns_path, class: 'btn btn-default' %>

<% end %>
