<!DOCTYPE html>
<html>
  <head>
    <title>DacVast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      #content {
        height: 600px;
      }
    </style>
  </head>

  <body>
    <header>
      <p><%= link_to "[キャンペーン]", campaigns_path %><%= link_to "[キューポイント]", cuepoints_path %>[レポート]</p>
      <hr>
    </header>
    <div id="content">
      <%= yield %>
    </div>
    <footer>
      <hr>
      <p style="text-align:center;">©DAC</p>
    </footer>
  </body>
</html>
